body{
    height: 200vh;
}
.titreApropos{
    font-size: 50px;
    font-family: 'Antonio';
    display: flex;
    justify-content: center;
}

section.gabaritApropos{
display: grid;
grid-template-columns: auto;
grid-template-areas:
    "etudiant"
    "responsables"
     "admission"
      "portes"
    "coordonnees";


article:nth-child(1){
    grid-area: etudiant;
}
article:nth-child(2){
    grid-area: responsables;
}
article:nth-child(3){
    grid-area: admission;
}
article:nth-child(4){
    grid-area: portes;
}
article:nth-child(5){
    grid-area: coordonnees;
}

    @media only screen and (min-width: 600px)
    {
    grid-template-columns: auto;
	grid-template-areas:
		"etudiant etudiant etudiant"
		"responsables admission portes"
		"coordonnees coordonnees coordonnees";
    }

    article{
        background-color: #1b206e;
        margin: 10px;
        border-radius: 8px;
        transition: 0.5s;

        h2{
            font-family: 'Antonio';
            color: #ffe5b6;
            padding-left: 1em;
            
            a{
                color: #ffe5b6;
                font-size: 1.5em;
            }
        }

        p{
            color: white;
            padding-left: 1.5em;
        }

        ul{

            li{
                color: white;
            }

        }

    }
    article:hover{
        background-color: #3a8a8a;
    }

}
