.titreApropos{
    font-size: 35px;
    font-family: 'Antonio';
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
//Scroll bar
::-webkit-scrollbar{
width: 12px;
}
::-webkit-scrollbar-track{
    border-radius: 50px;
    background-color: #2e5e7a;
}
::-webkit-scrollbar-thumb{
    border: 3px solid #2e5e7a;
    border-radius: 50px;
    background-color: #fff;
}
//La section des articles
section.gabaritApropos{
display: grid;
grid-template-columns: auto;
grid-template-areas:
    "etudiant"
    "ecole"
    "responsables"
     "admission"
      "portes"
    "coordonnees"
        "carte";
        margin-left: 1em;
        margin-right: 1em;
    //Les articles
    .apropos:nth-child(1) {
        grid-area: carte;
        height: 30em;
        padding-left: 1em;
        padding-right: 1em;
        .contenu{
            margin-top: 1em;
            display: flex;
            justify-content: center;
            h2{
                display: none;
            }
            p{
                margin: 0;
                padding: 0;
                iframe{
                    border-radius: 10px;
                }
            }
        }
    }
    .apropos:nth-child(2) {
        grid-area: ecole;
        max-height: 410px;
        .contenu{
            padding: 1em;
            h2{
                display: none;
            }
            p{
                display: none;
            }
            figure{
                margin:0;

                img{
                    max-height: 400px;
                    transition: 0.5s;
                }
                img:hover{
                    border-radius: 40px;
                }
            }
        }
    }
    .apropos:nth-child(3) {
    grid-area: etudiant;
    padding: 10px;
    .contenu{
        overflow-y: scroll;
        height: 250px;
    }
}
.apropos:nth-child(4){
    grid-area: responsables;
    .contenu{
        height: 200px;
    }
}
.apropos:nth-child(5){
    grid-area: admission;
    padding: 10px;
    .contenu{
        height: 250px;
        overflow-y: scroll;
    }
}
.apropos:nth-child(6){
    grid-area: portes;
    padding: 10px;
    .contenu{
        height: 130px;
    }
}
.apropos:nth-child(7){
    grid-area: coordonnees;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
}
.apropos{
        background-color: #1b206e;
        border-radius: 8px;
        transition: 0.5s;
        margin-bottom: 1em;
        h2{
            font-family: 'Antonio';
            color: #ffe5b6;
            padding-left: 1em;
            a{
                color: #ffe5b6;
                font-size: 25px;
            }
        }
        p{
            font-family: 'IBM Plex Sans';  
            color: white;
            padding-left: 1.5em;
            font-size: 12px;
            a{
                color: white;
            }
        }
        ul{
            li{
                color: white;
                font-size: 12px;
            }
        }
    }
    .apropos:hover{
        background-color: #2e7694;
    }
//Version ordinateur
@media only screen and (min-width: 600px)
    {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "etudiant etudiant ecole"
        "responsables admission portes"
        "carte carte coordonnees";
        gap: 30px;
        margin-left: 5em;
        margin-right: 5em;
        .titreApropos{
            font-size: 50px;
        }

        .apropos{
            h2{
                a{
                    font-size: 35px;
                }
            }
            p{
                font-size: 17px;
            }
            ul{
                li{
                    font-size: 17px;
                }
            }
        }
        .apropos:nth-child(2) {
            grid-area: ecole;
            max-height: 410px;
            background-color: #fff;
            .contenu{
                padding: 1em;
                h2{
                    display: none;
                }
                p{
                    display: none;
                }
                figure{
                    margin:0;
                    margin-left: -346px;
    
                    img{
                        max-height: 400px;
                    }
                }
            }
        }
        .apropos:nth-child(3) {
            grid-area: etudiant;
            padding: 10px;
            margin-top: 45px;
            margin-bottom: 55px;
            margin-right: 140px;
            .contenu{
                overflow-y: scroll;
                height: 303px;
            }
        }
        .apropos:nth-child(7){
            grid-area: coordonnees;
            margin-top: 6em;
            margin-bottom: 6em;
            margin-left: -3em;
        }
    }
    /*Version tablette*/
    @media only screen and (min-width : 600px) and (max-width:1024px){
        grid-template-areas:
        "etudiant etudiant"
        "ecole responsables"
        "admission portes"
        "carte coordonnees";

        .titreApropos{
            font-size: 40px;
        }
        .apropos{
            
            h2{
                a{
                    font-size: 30px;
                }
            }
            p{
                font-size: 15px;
            }
            ul{
                li{
                    font-size: 15px;
                }
            }
        }
        .apropos:nth-child(3) {
            grid-area: etudiant;
            margin-right: 0;
        }
        .apropos:nth-child(2) {
            grid-area: ecole;
            background-color: #1b206e;
            .contenu{
                max-height: 210px;
                padding: 1em;
                h2{
                    display: none;
                }
                p{
                    display: none;
                }
                figure{
                    margin:0;
    
                    img{
                        max-height: 400px;
                    }
                }
            }
        }

        .apropos:nth-child(4){
            grid-area: responsables;
            padding: 10px;
            .contenu{
                height: 250px;
                overflow-y: scroll;
            }
        }


    }



}