body{
    height: 211vh;
}
.titreApropos{
    font-size: 50px;
    font-family: 'Antonio';
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
//Scroll bar
::-webkit-scrollbar{
width: 12px;
}
::-webkit-scrollbar-track{
    border-radius: 50px;
    background-color: #3f7ca0;
}
::-webkit-scrollbar-thumb{
    border: 3px solid #3f7ca0;
    border-radius: 50px;
    background-color: #fff;
}



//La section des articles
section.gabaritApropos{
display: grid;
grid-template-columns: auto;
grid-template-areas:
    "etudiant"
    "ecole"
    "responsables"
     "admission"
      "portes"
    "coordonnees"
        "carte";

        margin-left: 1em;
        margin-right: 1em;


    //Les articles
    article:nth-child(1) {
        grid-area: carte;
        height: 30em;
        .contenu{
            margin-top: 1em;
            display: flex;
            justify-content: center;
            h2{
                display: none;
            }
            p{
                margin: 0;
                padding: 0;
            }

        }
    }
    article:nth-child(2) {
        grid-area: ecole;
    
        .contenu{
            height: 250px;
            h2{
                display: none;
            }
            p{
                display: none;
            }
            figure{
                margin:0;
            }
        }
    }
article:nth-child(3) {
    grid-area: etudiant;
    padding: 10px;

    .contenu{
        overflow-y: scroll;
        height: 250px;
    }
}
article:nth-child(4){
    grid-area: responsables;
    .contenu{
        height: 250px;
    }
}
article:nth-child(5){
    grid-area: admission;
    padding: 10px;
    .contenu{
        height: 250px;
        overflow-y: scroll;
    }
}
article:nth-child(6){
    grid-area: portes;
    .contenu{
        height: 250px;
    }
}
article:nth-child(7){
    grid-area: coordonnees;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    .contenu{
        
    }
}

    

    article{
        background-color: #1b206e;
        border-radius: 8px;
        transition: 0.5s;
        margin-bottom: 1em;

        h2{
            font-family: 'Antonio';
            color: #ffe5b6;
            padding-left: 1em;
            
            a{
                color: #ffe5b6;
                font-size: 1.5em;
            }
        }

        p{
            font-family: 'IBM Plex Sans';  
            color: white;
            padding-left: 1.5em;
            a{
                color: white;
            }
        }

        ul{

            li{
                color: white;

            }

        }

    }
    article:hover{
        background-color: #307e71;
    }

//Version ordinateur
@media only screen and (min-width: 600px)
    {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "etudiant etudiant ecole"
        "responsables admission portes"
        "carte carte coordonnees";

        gap: 30px;
        margin-left: 5em;
        margin-right: 5em;

        article:nth-child(7){
            grid-area: coordonnees;
            margin-top: 6em;
            margin-bottom: 6em;
            margin-left: -3em;
            .contenu{
                
            }
        }


        
    }
}