.enteteSession{
    //border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6b8d6;
    color: #1b206e;
    margin-left: 5%;
    margin-right: 5%;
}
.session{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    border: 3px solid greenyellow ;
    margin-left: 5%;
    margin-right: 5%;
    article{
        justify-content: center;
        align-items: center;
        border: 3px solid blue;
        width: 25vw;
        height: auto;
        align-self: center;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
        
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }
}

.nomSession{
    padding-left: 20px;
}

/*************************** boutons triage **********************************/

.btnTrieCours{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border: 2px solid salmon;
    width: 150px;
    height: 150px;
}

.btnProgrammation{
    border: 2px solid pink;
    width: 120px;
    height: 50px;
}

.btnCreation{
    border: 2px solid rgb(255, 208, 0);
    width: 120px;
    height: 50px;
}


