body {
    padding-bottom: 50px;
}

.enteteCours{
  h1{
    font-family: 'Antonio';
    text-transform: uppercase;
    color: #1B206E;
  }
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;
    div{
        padding: 15px;
    }
    @include petit_ecran{
       display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        
     }
}


.enteteSession{

    font-family: 'Antonio';
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #28e093;
    color: #1b206e;
    /***padding quand c'est seulement le no de SESSION ***/
    padding: 30px;
    /*********/
    margin-top: 30px;

    @include petit_ecran{
      // display: none;
    }


}
.session{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
    
    @include petit_ecran{

        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    @include tablet {
        margin-left: 0%;
        margin-right: 0%;
        height: auto;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    article{
       font-family: 'IBM Plex Sans', sans-serif;
       font-weight: medium 500;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        background-color:#1b206e;
        margin: 0.5%;
        width: 35vw;
        height: 35vh;
        text-align: center;
        align-self: center;
      
        @include petit_ecran{
            height: auto;
            width: 70vw;
        }
        @include tablet {
            height: auto;
        }

        p:nth-of-type(1){
            padding-top: 50px;
            @include petit_ecran{
                padding-top: 0;
            }

            @include tablet {
                padding-top: 0;
            }
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 2;
            color: white;
            padding: 15px;
            font-size : clamp(.8rem, #{"-0.875rem + 2.333vw"},0.5rem);
            @include petit_ecran{
                align-items: center;
                justify-content: center;
                padding: 0;
                height: auto;
            }

           @include tablet {
            align-items: center;
            justify-content: center;
            height: auto;
            font-size: 15px;
           }
          
        
        }

        a {
            font-family: 'IBM Plex Sans medium;', sans-serif;
         
            font-size: 14px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center; 
            //padding-top: 20px;
            text-decoration: none;
            opacity: 2;
            font-size : clamp(.6rem, #{"-0.875rem + 2.333vw"},0.95rem);
            @include tablet {
                font-size: 30px;
                text-align: center;
                
            }

            @include petit_ecran{
                font-size: 20px;
            }
        }
    }
}

.session{
    article:hover{
    background-color: #2C7594
    }
}

.nomSession{
    padding: 5px;
    font-size: 30px;
    
   
}

/*************************** boutons triage **********************************/

.btnTrieCours{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   flex-wrap: nowrap;
    gap: 20px;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    div {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    width: 120px;
    height: 50px;
    }
}

.btnTrieCours div{
    background-color: #2C7594;
    color: white;
}

.btnTrieCours div:hover{
    animation: couleuranimBoutons 5s ease-in-out;
    transition: linear;
}

@keyframes couleuranimBoutons {

    0%{

        filter: drop-shadow(0 0 0.85rem #8d14d9);
    

    }

    50%{

        filter: drop-shadow(0 0 0.95rem #B0FFB2);
        opacity: 1;

    }

    80%{

        filter: drop-shadow(0 0 0.95rem #28e093);
        opacity: 1;
        

    }

    100%{

        filter: drop-shadow(0 0 0.75rem #8d14d9);
        opacity: 5;

    }

}





