.titreCours{
    font-size: 50px;
    font-family: 'Antonio';
    display: flex;
    justify-content: center;
}

section.gabaritCours{
    display : flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 

    article {
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border : 5px solid rgb(139, 221, 236);;
        width : 20%;
        margin : 2%;
        padding  : 1rem;
        text-align : center;
        //background-color: rgb(139, 221, 236);
        //box-shadow: 5px 10px 15px rgb(238, 222, 75);
    } 
    
   

    a {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }
}

