#primary-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1b206e;
    height: 120px;
    align-items: center;
   
    a:link, a:visited
    {
        color: #ffe5b6;
        font-weight: bold;
        font-size: 20px;
    }
}
.sub-menu {
    display: flex;
    flex-direction: column;
}
#site-navigation{
    position: sticky; 
}