.titreVieEtudiante{
    font-size: 50px;
    font-family: 'Antonio';
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.vieEtudiante h2{
    display: none;
}
.contenu-vieEtudiante{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    align-items: center; 
    flex-basis: auto;
    gap: 10px;
    @include petit_ecran{
        flex-direction: column;
    }
}
.vieEtudiante{
   width: 400px;
   height: auto;
   figure{
    border-radius: 8px;
   }
}