.main-navigation {
    display: block;
    width: 100%;
    z-index: 99;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover > ul,
                &.focus > ul {
                    display: block;
                    left: auto;
                }
            }
            a {
                width: 200px;
            }
            :hover > a,
            .focus > a {
            }
            a:hover,
            a.focus {
            }
        }
        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }
    li {
        position: relative;
        &:hover > a,
        &.focus > a {
        }
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}
/*-----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
    padding :0;
    border : 0;
    z-index: 4;
}
.menu-toggle:hover,
.menu-toggle:focus {
    background: #1b206e;
}
.menu-toggle:focus {
    outline: 1px solid #1b206e;
    outline-offset: -4px;
}
.menu-toggle:active {
    transform: scale(0.99);
}
.menu-toggle,
.main-navigation.toggled{
    @include petit-ecran{ 
        #primary-menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 307px; 
            top: -40px;
            a:link, a:visited{
                display: flex;
            }
        }
    }
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}
@media screen and (min-width: 743px) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
    }
}
.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
    }
    .nav-links {
        display: flex;
    }
    .nav-previous {
        flex: 1 0 50%;
    }
    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}
.main-navigation li:nth-of-type(4) a:nth-child(2),
.main-navigation li:nth-of-type(5) a:nth-child(2),
.main-navigation li:nth-of-type(6) a:nth-child(2){
    @include TresGrandEcran{
        position: relative;
        left: 75px;
    }
    @include grand_ecran{
        position: relative;
        left: 55px;
    }
    @include tablet{
        left: 40px;
    }
    @include petit-ecran{
        left: 20px;
    }
}
.main-navigation li:nth-of-type(4) a:nth-child(2){
    position: relative;
    left: 55px;
    top: -67px;
    height: 28px;
    @include TresGrandEcran{
        left: 80px;
    }
    @include grand_ecran{
        top: -58px;
    }
    @include tablet{
        top: -50px;
        left: 10px;
    }
    @include petit-ecran{
        top: 75px;
        left: -50px;
    }
}  

.main-navigation li:nth-of-type(4) a:nth-child(1) >.icon:nth-of-type(1) {
position: relative;
//background-color: red;
 background-image: url(../../../wp-content/uploads/2021/11/LOGO.png);

 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
 background-position: center;
 margin-right: 50px;
 margin-bottom: 80px;
 display: flex;
 width: 100px;
 height: 100px;
 //border: 2px solid red;
 //background-color: red;
 //padding: 20px;
 z-index: 99;
}

#primary-menu .icon{
    @include petit-ecran{
        position: relative;
        left: 91px;
        top: -19px;
        margin: 0;
    }
}

.main-navigation li:nth-of-type(4){

    position: relative;
    display: flex;
    flex-direction: row;
    //border: 2px solid green;
    padding-top: 80px;
    padding-bottom: 0px;
    @include petit-ecran{
        padding-top: 0px;
    }
}
.main-navigation li:nth-child(4) a:nth-child(1){
    position: relative;
    height: 10px;
    top: -98px;
    left: 40px;
    @include petit-ecran{
        height: 101px;
        position: relative;
        top: 0;
        right: 0;
        left: -13px;
        bottom: 0;
    }
}
.main-navigation li:nth-of-type(4) a{
   //border: 3px solid hotpink;
   margin-top: 14%; 
   // overflow: hidden;
   @include petit-ecran{
       margin-top: 20px;
       display: flex;
       justify-content: center;
   }
}
.main-navigation li:nth-of-type(4) a:nth-child(2){
    @include petit-ecran{
        padding: 20px;
    }
} 
.main-navigation li:nth-of-type(5) a:nth-child(2)
{
    @include petit-ecran{
        margin-top: 20px;
    }
}

.main-navigation li:nth-child(1) a:active, .main-navigation li:nth-child(2) a:active,
.main-navigation li:nth-child(3) a:active, .main-navigation li:nth-child(5) a:active,
.main-navigation li:nth-child(6) a:active{
    @include petit-ecran{
        width: 100vw;
        background-color: #287894;
        display: flex;
        justify-content: center;
    }
}
.main-navigation li:nth-child(4){
    a:nth-child(2):active{
        
        @include petit-ecran{
            background-color: #287894;
            display: flex;
            justify-content: center; 
        }
    }
}